body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background: hsl(210, 36%, 96%);
	color: hsl(209, 61%, 16%);
	line-height: 1.5;
	font-size: 0.875rem;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
}

li {
	float: left;
}

li a {
	display: block;
	color: hsl(210, 22%, 49%);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #ddd;
}

li a.active {
	color: white;
	background-color: #043825;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
h2 {
	letter-spacing: 0.1rem;
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
}
.more {
	text-decoration: none;
}
.btn {
	background: transparent;
	border-color: transparent;
	text-transform: capitalize;
	color: hsl(205, 78%, 60%);
	font-size: 1rem;
	cursor: pointer;
	padding-left: 0.25rem;
}
